<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/headers.ejs') %>
	</head>
	<body>
		<%- include('./partials/nav.ejs') %>
		<h1><%= title %></h1>
		<% if (typeof searchEnabled === 'boolean' && searchEnabled) { %>
			<form method="GET" action="" id="searchForm">
				<label class="sr-only" for="search">Search</label>
				<input type="search" placeholder="Search" name="search" value="<%= search %>"/>
				<input type="submit" value="Search" />
			</form>
		<% } %>
		<ul>
			<% items.forEach((item) => { %>
				<li><a <% if (previewLinks) { %>class="previewable"<% } %> href="<%= route %>/<%= item.slug %>"><%= item.name %></a></li>
			<% }) %>
		</ul>
		<% if (typeof manifest !== 'undefined') { %>
			<p class="legal"><%= manifest.legal %></p>
		<% } %>
	</body>
</html>
