<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css" />
		<title><%= name %></title>
	</head>
	<body>
		<h1><%= name %></h1>
		<p class="small montserrat-italic">(<%= manifest.source %>)</p>
		<p><em><%= description %></em></p>
		<p>
			<strong>AC</strong> <%= armor_class %>,
			<strong>HP</strong> <%= hit_points %>,
			<strong>ATK</strong> <%= attacks %>,
			<strong>MV</strong> <%= movement %>,
			<strong>S</strong> <%= strength %>,
			<strong>D</strong> <%= dexterity %>,
			<strong>C</strong> <%= constitution %>,
			<strong>I</strong> <%= intelligence %>,
			<strong>W</strong> <%= wisdom %>,
			<strong>Ch</strong> <%= charisma %>,
			<strong>AL</strong> <%= alignment %>,
			<strong>LV</strong> <%= level %>
		</p>
		<% traits.forEach(trait => { %>
			<p><strong><%= trait.name %></strong>. <%= trait.description %></p>
		<% }) %>
		<button data-copy="text/markdown">Markdown</button>
		<script src="/js/copybuttons.js"></script>
		<p class="legal"><%= manifest.legal %></p>
	</body>
</html>
