<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/headers.ejs') %>
	</head>
	<body>
		<h1><%= name %></h1>
		<p>
			<strong><%= name %></strong>.
			<%= description %>
		</p>
		<button data-copy="text/markdown">Markdown</button>
		<script src="/js/copybuttons.js"></script>
		<p class="legal"><%= manifest.source %></p>
		<p class="legal"><%= manifest.legal %></p>
	</body>
</html>
